html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  display: block;
  position: absolute;
  top: -21em;
  left: 0;
  width: 100%;
  height: 66em;
  object-fit: cover;
}

h1.page-top {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.45em 0 0.45em 0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  border-radius: 0em;
}

/* Header color change on page scroll */
.active {
   background-color: rgba(0, 0, 0, 0.6);
   transition: 0.25s;
  }

h1.page-top img {
  width: 6rem;
  height: 100%;
  margin-left: 1em;
}

h1.page-top span {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.hero {
  width: 100%;
  height: 40em;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  top: 0;
}

.hero-text{
  color: white;
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
  margin: 0em 2em 0em 2em;
  padding: 1em 2em 1em 2em;
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 30%;
  flex-direction: column;
}

.hero-text h2, .hero-text h1, .hero-text p {
  margin: 0;
  padding: 0;
}

.hero-title {
  font-size: 4vmax;
  line-height: 4vmax;
  flex: 1;
  font-weight: 600;

}
.hero-subtitle {
  font-size: 1.5vmax;
  text-align: center;
  flex: 1;
  font-weight: 400;
  font-style: italic;

}
.hero-description {
  font-size: 1.25vmax;
  flex: 1;
 
}


/* Video Section */



.left-controls, .right-controls {
  height:144px;
  z-index:140;
  opacity: 0.2;
  cursor:pointer;
  text-align:center;
  justify-content:center;
  display:flex;
  position: sticky;
}

.left-controls {
  left: 0px;
}
.right-controls {
  right: 0px;
}

.left-controls:hover, .right-controls:hover{
  opacity: 0.5;
  transition: 0.25s;
}

.fa-chevron-left-extra, .fa-chevron-right-extra {
  align-self:center;
  height:auto;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  color:white;
  opacity: 1;
}

.fa-chevron-left-extra {
  margin-left: 0.25em;
  margin-right: 0.2em;
}

.fa-chevron-right-extra {
  margin-right: 0.25em;
  margin-left: 0.2em;
}

.title{
  color:#eee;
}

.module-section{
  max-width: 100%;
  overflow: hidden;
  overflow-x:scroll;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.content {
  list-style-type:none;
  padding: 0;
  display: flex;
  position: relative;
  left: 140em;
  margin-top: 0.5em;
}

.card{
  display: block;
  width: 256px;
  height:144px;
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  margin: 0em 0.2em;
}

.card:hover{
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  transition: all .2s ease-in-out;
  transform: scale(1.1); 
  z-index:100;
  position:relative;
  transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
  transition-duration:400ms;
  margin: 0em 0.95em;
  background-color: black;
}

.card p {
  z-index: 200;
  position: absolute;
  bottom: 0em;
  left: 0.25em;
  color: white;
  opacity: 0;
}

.card:hover > p {
  opacity: 1;
  transition: opacity 1s;
}

 .inside-top{
  z-index:100;
  
}

.inside-top img {
  width: 256px;
  height: 144px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.inside-top img.top {
  z-index: 100;
}

.inside-top img.bottom {
  z-index: 90;
  opacity: 0.5;
}

.inside-top img.top:hover, .card p:hover ~ .inside-top img.top {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.module-category {
  color: white;
  text-align: left;
  width: 100%;
  margin: 1em 0em 0em 5.5em;
  font-weight: 600;
}

